/* add your styles here */
.parent{
    display:grid;
    grid-template-columns: repeat(2,500px);
    grid-column-gap:60px;
    grid-row-gap:20px;
    justify-content: center;

}

img{
    height: 60vh;
    width: 40vw;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
    
